{% extends "workload/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/passwd.css' %}">
<div class="interface-passwd">
    <div>
        <h2>Password change</h2>
    </div>
    <div style="display:flex; justify-content:center; align-items:center;">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <div>
                    <button class="button-passwd" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}